[submodule "recipes-apps/ledratool/ledratool/pyLedRATool"]
	path = recipes-apps/ledratool/ledratool/pyLedRATool
	url = https://github.com/airjason13/pyLedRATool.git

[submodule "recipes-apps/ledtester/ledtester/pyLedTester"]
	path = recipes-apps/ledtester/ledtester/pyLedTester
	url = https://github.com/airjason13/pyLed_test_server.git
[submodule "recipes-apps/ledserver/ledserver/pyLed_Server"]
	path = recipes-apps/ledserver/ledserver/pyLed_Server
	url = https://github.com/airjason13/pyLed_Server.git
[submodule "recipes-apps/libyuv/libyuv/libyuv"]
	path = recipes-apps/libyuv/libyuv/libyuv
	url = https://chromium.googlesource.com/libyuv/libyuv
[submodule "recipes-apps/flask-filemanager/flask-filemanager/flask-filemanager/flask-fileexplorer"]
	path = recipes-apps/flask-filemanager/flask-filemanager/flask-filemanager/flask-fileexplorer
	url = https://github.com/reallyrehan/flask-fileexplorer.git
[submodule "recipes-apps/smitrigger/smitrigger"]
	path = recipes-apps/smitrigger/smitrigger
	url = https://github.com/airjason13/smi_trigger.git
